@model Web.Models.ProfileViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <style>
        body {
            background-color: #782223;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .edit-form {
            width: 70%;
            padding: 40px;
            background-color: #CFAE7D;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
        }

        label {
            font-family: 'Lobster';
            font-size: 2vw;
            color: #782223;
            margin-bottom: 10px;
        }

        input[type="text"] {
            width: 40%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #FEF9C6;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .input-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        input[type="submit"],
        .button-cancel {
            background-color: #420506;
            color: #CFAE7D;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            width: 20vw;
            height: 5vw;
            align-self: flex-end;
            text-align: center;
            font-family: 'Kyiv*Type Titling';
            font-style: normal;
            font-weight: 200;
            font-size: 2vw;
            line-height: 3vw;
            box-shadow: 0px 1vw 1vw rgba(0, 0, 0, 0.25);
        }

            .button-cancel:hover {
                background-color: #610809;
            }

            .button-cancel a {
                color: #CFAE7D;
                text-decoration: none;
                display: inline-block;
                width: 10vw;
                height: 3vw;
                text-align: center;
                line-height: 3vw;
                font-size: 2vw;
            }
    </style>
</head>
<body>
    <div class="back">
        <form method="post" class="edit-form" asp-area="" asp-controller="Profile" asp-action="EditProfile" asp-route-id="@Model.Id">
            <h1>Edit Profile</h1>
            <div class="input-container">
                <label for="Name">Name:</label>
                <input type="text" id="Name" name="Name" value="@Model.Name" required />
            </div>
            <div class="input-container">
                <label for="Tag">Tag:</label>
                <input type="text" id="Tag" name="Tag" value="@Model.Tag" required />
            </div>
            <div class="input-container">
                <label for="Description">Description:</label>
                <input type="text" id="Description" name="Description" value="@Model.Description" required />
            </div>
            <div class="input-container">
                <label for="GenresReaded">Genres Readed:</label>
                <input type="text" id="GenresReaded" name="GenresReaded" value="@Model.GenresReaded" required />
            </div>
            <div class="input-container">
                <input type="submit" value="Save" />
                <a class="button-cancel" asp-area="" asp-controller="Profile" asp-action="ShowProfile" asp-route-id="@Model.Id">Скасувати</a>
            </div>
        </form>
    </div>
</body>
</html>